# 1. EDA
Bu defterde veri setinin genel yapısı ve temel istatistikleri incelenir.

In [1]:
import sys
sys.path.append('..')
from src.data_prep import load_raw_data, add_features
df = load_raw_data()
df = add_features(df)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,TARGET,PAY_SUM,LIMIT_PER_PAY,BILL_SUM,AGE_BIN
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,1,689,28.985507,7704,0
1,120000,2,2,2,26,-1,2,0,0,0,...,1000,1000,1000,0,2000,1,5000,23.995201,17077,0
2,90000,2,2,2,34,0,0,0,0,0,...,1500,1000,1000,1000,5000,0,11018,8.167710,101653,1
3,50000,2,2,1,37,0,0,0,0,0,...,2019,1200,1100,1069,1000,0,8388,5.960186,231334,1
4,50000,1,2,1,57,-1,0,-1,0,0,...,36681,10000,9000,689,679,0,59049,0.846740,109339,3

In [ ]:
df.describe().T